In [1]:
from faker import Faker
import random
import pandas as pd

<h3> Content Based Filtiring </h3>

In [10]:
# Initialize Faker
fake = Faker()

# Function to create synthetic dataset
def create_synthetic_data(num_samples=1000):
    data = {
        'user_id': [],            # Unique identifier for each user
        'post_id': [],            # Unique identifier for each post
        'Username': [],           # Username of the user
        'Caption': [],            # Caption or content of the post
        'Hashtags': [],           # Hashtags in the post
        'Likes': [],              # Number of likes on the post
        'Comments': [],           # Number of comments on the post
        'Comment_Text': [],       # Text of comments
        'Sentiment_Score': [],    # Sentiment score of comments or post
        'Sentiment_Label': [],    # Sentiment label: positive, neutral, or negative
        'Engagement_Score': []    # Engagement score based on likes and comments
    }

    # Sentiment mapping for random generation
    sentiment_mapping = {
        0: "Negative",
        1: "Neutral",
        2: "Positive"
    }

    for _ in range(num_samples):
        # Generate user data
        user_id = random.randint(0, 1000)
        post_id = random.randint(0, 1000)
        username = fake.user_name()
        post_content = fake.sentence(nb_words=random.randint(5, 15))
        hashtags = ' '.join([fake.word() for _ in range(random.randint(1, 5))])
        likes = random.randint(0, 1000)
        comments = random.randint(0, 200)
        comment_text = fake.sentence(nb_words=random.randint(5, 20))
        
        # Sentiment score between -1 (negative) and 1 (positive)
        sentiment_score = random.uniform(-1, 1)
        sentiment_label = sentiment_mapping[int((sentiment_score + 1) * 1.5)]  # Map to 0, 1, 2
        
        # Engagement score, simple sum of likes and comments for example purposes
        engagement_score = likes + comments

        # Append data
        data['user_id'].append(user_id)
        data['post_id'].append(post_id)
        data['Username'].append(username)
        data['Caption'].append(post_content)
        data['Hashtags'].append(hashtags)
        data['Likes'].append(likes)
        data['Comments'].append(comments)
        data['Comment_Text'].append(comment_text)
        data['Sentiment_Score'].append(round(sentiment_score, 2))
        data['Sentiment_Label'].append(sentiment_label)
        data['Engagement_Score'].append(engagement_score)

    return pd.DataFrame(data)

# Create synthetic dataset
synthetic_data = create_synthetic_data(num_samples=1000)

# Save to CSV
synthetic_data.to_csv('content.csv', index=False)

# Display the first few rows of the dataset
synthetic_data.head()

,user_id,post_id,Username,Caption,Hashtags,Likes,Comments,Comment_Text,Sentiment_Score,Sentiment_Label,Engagement_Score
0,369,599,michaelsilva,Turn wish sure garden manage cut movement Mrs ...,experience across girl expect fight,252,176,Effort building national cost claim baby assum...,0.30,Neutral,428
1,468,565,jchen,Top job who every business hit let with purpose.,walk property,951,103,Moment around hospital require or whole around...,0.86,Positive,1054
2,957,592,thurley,Easy cause than whom training cut manager prod...,cover hit,711,168,Run beautiful true thought beat decision neces...,-0.60,Negative,879
3,356,96,ujoyce,Several foreign none public treatment college ...,itself throughout thought citizen,426,200,Language cell charge second hour west month ag...,-0.12,Neutral,626
4,654,858,klinemichelle,Stop particularly reason center leader because...,speak clear necessary,981,71,Letter speak spend suffer Mr player leg.,0.48,Positive,1052

In [11]:
cont_df = pd.read_csv("content.csv")
cont_df.head(3)

,user_id,post_id,Username,Caption,Hashtags,Likes,Comments,Comment_Text,Sentiment_Score,Sentiment_Label,Engagement_Score
0,369,599,michaelsilva,Turn wish sure garden manage cut movement Mrs ...,experience across girl expect fight,252,176,Effort building national cost claim baby assum...,0.30,Neutral,428
1,468,565,jchen,Top job who every business hit let with purpose.,walk property,951,103,Moment around hospital require or whole around...,0.86,Positive,1054
2,957,592,thurley,Easy cause than whom training cut manager prod...,cover hit,711,168,Run beautiful true thought beat decision neces...,-0.60,Negative,879

In [9]:
cont_df['Hashtags'].nunique()

979